<div class="row">
  <div class="col-md-4">
    <div class="card card-chart">
      <div class="card-header card-header-info">
        <div class="ct-chart"><app-linechart-va></app-linechart-va></div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Machine A</h4>
        <p class="card-category">
          <span class="text-success"><i class="fa fa-long-arrow-up"></i> Voltage </span> flunctuation.</p>
      </div>
      <div class="card-footer">
        <div class="stats">
          <a class="" routerLink="/macha">
           <b>Details</b>
        </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-chart">
      <div class="card-header card-header-warning">
        <div class="ct-chart"><app-linechart-vb></app-linechart-vb></div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Machine B</h4>
        <p class="card-category">
          <span class="text-success"><i class="fa fa-long-arrow-up"></i> Voltage </span> flunctuation.</p>
      </div>
      <div class="card-footer">
        <div class="stats">
          <a class="" routerLink="/machb">
           <b>Details</b>
        </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-chart">
      <div class="card-header card-header-success">
        <div class="ct-chart"><app-linechart-vc></app-linechart-vc></div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Machine C</h4>
        <p class="card-category">
          <span class="text-success"><i class="fa fa-long-arrow-up"></i> Voltage </span> flunctuation.</p>
      </div>
      <div class="card-footer">
        <div class="stats">
          <a class="" routerLink="/machc">
           <b>Details</b>
        </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card card-chart">
      <div class="card-header card-header-danger">
        <div class="ct-chart"><app-linechart-vd></app-linechart-vd></div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Machine D</h4>
        <p class="card-category">
          <span class="text-success"><i class="fa fa-long-arrow-up"></i> Voltage </span> flunctuation.</p>
      </div>
      <div class="card-footer">
        <div class="stats">
          <a class="" routerLink="/machd">
           <b>Details</b>
        </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-chart">
      <div class="card-header card-header-primary">
        <div class="ct-chart"><app-linechart-ve></app-linechart-ve></div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Machine E</h4>
        <p class="card-category">
          <span class="text-success"><i class="fa fa-long-arrow-up"></i> Voltage </span> flunctuation.</p>
      </div>
      <div class="card-footer">
        <div class="stats">
          <a class="" routerLink="/mache">
           <b>Details</b>
        </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-chart">
      <div class="card-header card-header-warning">
        <div class="ct-chart"><app-linechart-vf></app-linechart-vf></div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Machine F</h4>
        <p class="card-category">
          <span class="text-success"><i class="fa fa-long-arrow-up"></i> Voltage </span> flunctuation.</p>
      </div>
      <div class="card-footer">
        <div class="stats">
          <a class="" routerLink="/machf">
           <b>Details</b>
        </a>
        </div>
      </div>
    </div>
  </div>
</div>