<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Machine Electrical Parameters</h4>
          <p class="card-category">{{ this.machinename }}</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th class="text-center" colspan="3">Voltage</th>
                  <th class="text-center" colspan="3">Current</th>
                  <th class="text-center" colspan="3">Power</th>
                </tr>
                <tr>
                  <th>V<sub>1</sub></th>
                  <th>V<sub>2</sub></th>
                  <th>V<sub>3</sub></th>
                  <th>I<sub>1</sub></th>
                  <th>I<sub>2</sub></th>
                  <th>I<sub>3</sub></th>
                  <th>P<sub>1</sub></th>
                  <th>P<sub>2</sub></th>
                  <th>P<sub>3</sub></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data; for: machinedata; index as i">
                  <td>{{ data.voltage1 }}</td>
                  <td>{{ data.voltage2 }}</td>
                  <td>{{ data.voltage3 }}</td>
                  <td>{{ data.current1 }}</td>
                  <td>{{ data.current2 }}</td>
                  <td>{{ data.current3 }}</td>
                  <td>{{ data.power1 }}</td>
                  <td>{{ data.power2 }}</td>
                  <td>{{ data.power3 }}</td>
                  <td>{{ data.createdOn }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
